@tailwind base;
@tailwind components;

// Common
* {
    @apply leading-6 box-border;
}

.container {
    @apply mx-auto px-4;
}

.title {
    @apply font-bold text-primary text-xl;
}

.datepicker {
    @apply relative w-full border rounded-md z-[49];

    input {
        @apply cursor-pointer;
    }
}

// Button
.button {
    // Display
    @apply relative inline-flex justify-center items-center align-middle;

    // Responsive sizing
    @apply min-w-6 h-6;
    @apply sm:min-w-9 sm:h-9;

    // Responsive spacing
    @apply py-1 px-2;
    @apply sm:py-2 sm:px-4;

    // Background, text and ...
    @apply bg-primary text-white text-sm;
    @apply rounded-md cursor-pointer;

    @apply hover:opacity-90 active:opacity-100;
    @apply disabled:opacity-50 disabled:pointer-events-none;

    // Button icon
    &Icon {
        @apply bg-transparent text-black;
    }
}

// Input
.input {
    @apply flex flex-wrap gap-2;

    &-group {
        @apply flex w-full px-3 py-2 border;
        @apply text-sm;
        @apply rounded-md;
        @apply shadow-sm;

        & > input {
            @apply w-full min-h-6;
            @apply bg-transparent font-normal;
            @apply outline-none;
        }
    }
}

// Pagination
.pagination {
    @apply flex flex-wrap items-center max-w-fit h-fit;
    @apply gap-1 py-2.5;

    &-item {
        @apply bg-gray-200 text-black text-tiny;
        @apply transition-all;
        @apply hover:bg-gray-300;
    }

    &-active {
        @apply bg-primary text-white;
        @apply hover:bg-primary;
    }
}

// Table
.cellStickyLeft {
    @apply sticky left-0 min-h-14 flex bg-gray-100 border-r-2 z-50;
}

// Error Message
.errorMessage {
    @apply p-1 text-tiny text-danger;
}

@tailwind utilities;
